.footer {
    background-color: #000620;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: white;
    margin-top: 200px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}